html, body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0px;
    background-color: #DADADA;
}

nav {
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}

.logo {
  text-decoration: none;
}

.dot {
  font-family: 'Arial Rounded MT', sans-serif;
  font-size: 28px;
  color: white;
}

.class {
  font-family: 'Arial Rounded MT', sans-serif;
  font-size: 28px;
  color: #00FB86;
}

nav a {
  color: white;
  font-size: 12px;
}

.nav-botones {
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.nav-botones a {
  font-size: 14px;
}

nav ul {
  display: flex;
  padding: 0px;
  width: 300px;
  margin: 0px;
  justify-content: space-between;
}

ul {
  list-style: none;
}

li {
  height: auto;
  width: auto;
}

li a {
  text-decoration: none;
}

h1 {
    text-align: center;
}

.container {
    margin: 20px 90px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.wrapper img {
  width: 500px;
  display:block;
  margin:auto;
}

.wrapper p {
  font-size: 1.2em;
}

aside hr {
  margin-bottom: 20px;
  margin-top: 20px;
}

.author_data{
  
}

.post_pop{
  display: flex;
  flex-direction: column;
  /* align-content: center; */
}

.post_pop li img{
  width:  50px;
}

.post_pop li{
  display: flex;
  /* align-self: center; */
  align-items: center;
}






footer {
    height: 150px;
    background-color: black;
    padding: 30px 40px 0px;
    color: white;
    display: flex;
    font-size: 13px;
  }
  
  .footer-datos {
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex: 1 0 auto;
  }
  
  footer ul {
    padding: 0px;
    margin: 0px;
  }
  
  footer a {
    color: white;
  }
  
  footer i {
    margin-right: 10px;
  }
  
  .correo {
    margin-top: 15px;
  }
  
  .correo input[type="email"] {
    height: 40px;
    width: 270px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px 0px 0px 4px;
    color: white;
    padding: 1px 20px;
  }
  
  .correo input[type="email"]::placeholder {
    color: white;
  }
  
  .correo button {
    height: 40px;
    width: 60px;
    background-color: white;
    border: 1px solid white;
    border-radius: 0px 4px 4px 0px;
    box-sizing: content-box;
    margin-left: -4px;
  }