html, body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0px;
    background-color: #DADADA;
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto;
}

.nav-items {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}

.logo {
  text-decoration: none;
}

.dot {
  font-family: 'Arial Rounded MT', sans-serif;
  font-size: 28px;
  color: white;
}

.class {
  font-family: 'Arial Rounded MT', sans-serif;
  font-size: 28px;
  color: #00FB86;
}

nav a {
  color: white;
  font-size: 12px;
}

.nav-botones {
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.nav-botones a {
  font-size: 14px;
}

nav ul {
  display: flex;
  padding: 0px;
  width: 300px;
  margin: 0px;
  justify-content: space-between;
}

ul {
  list-style: none;
}

li {
  height: auto;
  width: auto;
}

li a {
  text-decoration: none;
}

.wrapper {
    flex: 2 0 auto;
}

.curso-presentacion {
  background-color: #01140B;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.curso-informacion {
  margin: 30px 0px 50px 60px;
  height: 450px;
  display: flex;
  flex-direction: column;
  flex: 1 0 560px;
}

.curso-header {
  display: flex;
}

.curso-titulo {
  display: flex;
  align-items: center;
}

.curso-titulo img {
  width: 70px;
}

.curso-titulo h1 {
  font-size: 40px;
  margin: 0px 0px 0px 20px;
  font-weight: 500;
}

.curso-progreso {
  display: flex;
  align-items: center;
  width: 170px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
}

.progreso-total {
  border-radius: 0px 25px 25px 0px;
  background-color: white;
  height: 20px;
  width: 25%;
}

.progreso {
  border-radius: 25px 0px 0px 25px;
  background-color: #00FB86;
  height: 20px;
  width: 75%;
}

.curso-progreso span {
  margin-left: 5px;
}

.curso-body {
  margin-top: 30px;
  flex: 1 0 auto;
}

.curso-body p {
  margin: 0px;
  font-size: 20px;
}

.curso-footer {
  width: 100%;
  font-size: 17px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.curso-footer b {
  margin-right: 10px;
  font-weight: 500;
}

.curso-rating {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 500;
}

hr {
  margin: 30px 60px 50px;
}

.docente-informacion {
  margin: 30px 60px 50px 0px;
  height: 450px;
  display: flex;
  flex-direction: column;
  flex: 1 0 560px;
}

.docente-header {
  display: flex;
}

.docente-header img {
  width: 70px;
  border-radius: 50%;
}

.docente-perfil {
  align-self: flex-start;
  margin-left: 15px;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
}

.docente-perfil b {
  font-size: 22px;
  font-weight: 500;
}

.docente-perfil span {
  font-size: 16px;
  color: #C2C2C2;
}

.docente-live {
  background-color: white;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  height: fit-content;
  padding: 0px 8px;
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 14px;
}

.docente-live i {
  color: #840000;
}

.docente-live span {
  margin-left: 5px;
  padding: 0px 0px 1px;
}

.docente-body {
  margin: 50px 0px 0px 25px;
  font-family: Georgia, sans-serif;
  font-style: italic;
  font-size: 18px;
  flex: 1 0 auto;
}

.docente-body p {
  margin: 0px;
}

.docente-footer {
  display: flex;
  flex-direction: column;
}

.docente-footer a {
  color: white;
}

.docente-footer i {
  color: #00FB86;
  margin-left: 5px;
  font-size: 12px;
}

.docente-footer b {
  margin-right: 5px;
  font-weight: 500;
}

.plan-estudio {
  flex: 1 1 100%;
  background-color: #004D40;
  padding: 20px 40px 30px;
}

.plan-estudio h2 {
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
}

.cursos-prerequisitos {
  margin-top: 20px;
  display: flex;
}

.pre-curso {
  border-radius: 25px;
  background-color: white;
  color: black;
  width: 240px;
  padding: 15px 20px;
}

.pre-curso-header {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.pre-curso-header img {
  width: 50px;
  margin-right: 10px;
}

.pre-curso-footer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.pre-curso-footer b {
  font-weight: 500;
  margin-right: 5px;
}

.pre-curso-rating {
  margin-top: 5px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  color: #004D40;
}

.pre-curso-rating .clasificacion {
  color: black;
}

.cursos-prerequisitos > i {
  align-self: center;
  margin: 0px 30px;
  font-size: 25px;
}

.menu-curso {
  margin: 40px;
  background-color: white;
}

.menu {
  display: flex;
  padding-left: 50px;
  background-color: #01140B;
}

.menu a{
  text-decoration: none;
  padding: 17px 25px;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

#menu-aportes {
  color: black;
  background-color: white;
}

.contenido {
  padding: 40px 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.contenido > span {
  font-size: 30px;
  text-align: center;
}

.contenido > div > a {
  font-size: 22px;
  text-decoration: none;
  color: black;
}

.fa-plus-circle {
  color: #004D40;
}

.aportes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  margin-top: 30px;
}

.aporte {
  border-radius: 15px;
  border: 1px solid black;
  padding: 30px 20px;
}

.aporte-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aporte-perfil {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.aporte-perfil img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.aporte-tiempo {
  font-size: 12px;
  color: #7E7E7E;
}

.aporte-body {
  background-color: #DADADA;
  padding: 15px 20px;
  margin-top: 15px;
  height: 200px;
}

.aporte-body a {
  color: black;
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.aporte-footer {
  display: flex;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}

.comments {
  margin-left: 25px;
}

.fa-heart {
  color: #840000;
}

.fa-comment-alt {
  color: #073b23;
}

footer {
  height: 150px;
  background-color: black;
  padding: 30px 40px 0px;
  color: white;
  display: flex;
  font-size: 13px;
  flex: 1 0 auto;
}

.footer-datos {
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex: 1 0 auto;
}

footer ul {
  padding: 0px;
  margin: 0px;
}

footer a {
  color: white;
}

footer i {
  margin-right: 10px;
}

.correo {
  margin-top: 15px;
}

.correo input[type="email"] {
  height: 40px;
  width: 270px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px 0px 0px 4px;
  color: white;
  padding: 1px 20px;
}

.correo input[type="email"]::placeholder {
  color: white;
}

.correo button {
  height: 40px;
  width: 60px;
  background-color: white;
  border: 1px solid white;
  border-radius: 0px 4px 4px 0px;
  box-sizing: content-box;
  margin-left: -4px;
}