html, body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0px;
    background-color: #DADADA;
    display: flex;
    flex-direction: column;
    height: 100%;
}


nav {
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

.dot {
    font-family: 'Arial Rounded MT', sans-serif;
    font-size: 28px;
    color: white;
}

.class {
    font-family: 'Arial Rounded MT', sans-serif;
    font-size: 28px;
    color: #00FB86;
}

nav a {
    color: white;
    font-size: 12px;
}

.nav-botones {
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    width: 40px;
}

.nav-botones a {
    font-size: 14px;
}

nav ul {
    display: flex;
    padding: 0px;
    width: 300px;
    margin: 0px;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper form {
    width: 400px;
    height: 400px;
    padding: 60px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 6px 0px #00000016;
}

.wrapper span {
    font-size: 27px;
}

.datos-usuario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 0px 30px;
    height: 90px;
}

.datos-usuario input {
    border: none;
    font-size: 16px;
    padding: 5px;
    font-family: 'Segoe UI', sans-serif
}

.datos-usuario input::placeholder {
    color: black;
}

input:focus {
    outline: none;
}

hr {
    margin: 0px;
    border-color: black;
}

.extras {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 40px;
}

.extras a {
    color: #0A390A;
}

.btnIngresar {
    padding: 13px 30px;
    background-color: #0AB83E;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

.btnIngresar:hover {
    cursor: pointer;
    background-color: rgb(9, 128, 45);
}

footer {
  height: 150px;
  background-color: black;
  padding: 30px 40px 0px;
  color: white;
  display: flex;
  font-size: 13px;
}

.footer-datos {
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex: 1 0 auto;
}

footer ul {
  padding: 0px;
  margin: 0px;
}

footer a {
  color: white;
}

footer i {
  margin-right: 10px;
}

.correo {
  margin-top: 15px;
}

.correo input[type="email"] {
  height: 40px;
  width: 270px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px 0px 0px 4px;
  color: white;
  padding: 1px 20px;
}

.correo input[type="email"]::placeholder {
  color: white;
}

.correo button {
  height: 40px;
  width: 60px;
  background-color: white;
  border: 1px solid white;
  border-radius: 0px 4px 4px 0px;
  box-sizing: content-box;
  margin-left: -4px;
}